body {
    margin: 0;
    padding: 0;
    background-color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container { 
    width: 935px;
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 20px;
    margin: 50px auto 30px;
    
}

.pitch {
    height: 596px;
    background: url('./imagens/instagram-web-lox-image\ \(1\).png') no-repeat center;  
}

.form {
    text-align: center;

    form {    
        margin-bottom: 10px;    
        border: 1px solid #ffff;
        background-color: #ffff;
        padding: 20px 40px;
        
        .logo {
            margin-bottom: 30px;
        }

        input {
            font-size: 12px;
            width: 100%;
            height: 36px;
            border-radius: 3px;
            box-sizing: border-box;
            background-color: #fafafa;
            border: 1px solid #dbdbdb;
            margin-bottom: 4px;
            padding: 0 8px;       
        }
        
        button {
            width: 100%;
            border-radius: 6px;
            margin-top: 8px;
            border: none;
            background-color: rgb(76, 181, 249);
            height: 32px;
            color: #fafafa;
            font-weight: bold; 
        }

        .separetor {
            color: rgb(115, 115, 115);
            text-transform: uppercase;
            font-weight: 600px;
            font-size: .8125rem;
            margin: 16px 0 26px;
            display: flex;
            align-items: center;
            justify-content: space-between; 

            &::before,
            &::after {
                content:'';
                width: 106px;
                height: 1px;
                display: block;
                background-color: #dbdbdb;
            }
        }

        .entrar-com-facebook {
            color:rgb(0, 149, 246); 
            font-size: 14px;
            font-family: var(--font-family-system);
            font-weight: normal;   
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 18px;
            gap: 6px;                         
        }

        .esqueceu-senha {
            color: rgb(0, 55, 107);
            font-size: 14px;                       
        }    

    }

.sinup{
    border: 1px solid #ffff;
    background-color: #ffff;
    padding: 10px 40px;
    margin-bottom: 20px;
    font-size: 14px;

    a {
        font-weight: normal; 
        color: rgb(0, 149, 246);         
    }
    }

.get-app {
    p{
        font-size: 14px;
    }    
}

}

.footer {
    width: 935px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    margin: 50px auto 80px;
    color: rgb(115, 115, 115); 

    .links {
        margin-bottom: 10px;

        a {
            color: rgb(115, 115, 115);
            margin: 0 5px;
            margin-bottom: 10px;
            
        }    
    }          
}

